branches:
  only:
    - master

clone_depth: 5

environment:
  matrix:
    - CMAKE_GENERATOR: "Visual Studio 12 2013"
      CMAKE_PREFIX_PATH: C:\Qt\5.6.3\msvc2013
      CONFIGURATION: Release
    - CMAKE_GENERATOR: "Visual Studio 14 2015 Win64"
      CMAKE_PREFIX_PATH: C:\Qt\5.6.3\msvc2015_64
      CONFIGURATION: Release
  BOOST_ROOT: C:\Libraries\boost_1_60_0

install:
  - set PATH=%PATH%;%CMAKE_PREFIX_PATH%\bin

build_script:
  - mkdir build && cd build
  - cmake .. -G"%CMAKE_GENERATOR%" -DBoost_INCLUDE_DIR=%BOOST_ROOT%
  - cmake --build . --config %CONFIGURATION%
  - cmake --build . --config %CONFIGURATION% --target install

test_script:
  - ctest -C %CONFIGURATION% -V
  - qmlscene --quit -I lib/qml ../examples/TestApp.qml
